body {
  overflow-x: hidden;

  transition: 3s;

  color: #343434;
  background-color: #fff;
}
.backUp {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100vw;
}
.backEnd {
  position: absolute;
  z-index: -1;

  width: 100vw;
  margin-top: -31vw;
}
.s320 {
  display: none;
}
h1, h3, h4, a {
  font-family: TTDrugs;
  font-weight: 700;
}
h2 {
  font-family: TTDrugs;
  font-weight: 300;
}
p {
  font-family: ProxsimaNova;
}
.head {
  display: flex;
  flex-direction: column;

  height: 19vw;
  margin-top: 15vw;
  margin-left: -28vw;

  align-items: center;
  justify-content: space-between;
}
.head h2 {
  font-size: 6vw;
  font-weight: 200;
}
h1 {
  margin-left: 18vw;

  font-size: 10vw;
}

.content {
  position: relative;

  width: 100vw;
  margin-top: 6vw;
}
.content .con {
  width: 66vw;
  margin-left: 7vw;
}
h3 {
  font-size: 3.2vw;
  line-height: 3.7vw;
}
.content p {
  width: 65vw;
  margin-top: 2vw;

  font-size: 2vw;
  line-height: 2.6vw;
}
.content p + p {
  margin-top: 10px;
}
.content .scroll {
  position: absolute;
  top: 11vw;
  right: 0;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 21vw;
  height: 47.5vw;
  padding-right: 1vw;

  border-right: none;
  border-right: none;
  background: #fff;
}
.content .card {
  display: flex;
  flex-direction: column;

  width: 22vw;
  height: 22vw;
  margin-bottom: 1vw;

  background-color: #CAC9C9;

  align-items: center;
}
.content .card:last-of-type {
  margin-bottom: 0;
}
.content .card h4 {
  margin-top: 2vw;

  font-size: 3vw;
}
.content .card p {
  width: 19vw;
  margin-top: 2vw;

  color: #525252;

  font-size: 1.2vw;
  line-height: 1.3vw;
}
.content h3:nth-child(3) {
  width: 53vw;

  margin-top: 8vw;
  margin-left: 7vw;

  font-size: 6vw;
  line-height: 6vw;
}

.spetial {
  margin-top: 24vw;
  margin-bottom: 23vw;
}
.spetial h3 {
  margin-left: 7vw;
}
.horizontal {
  display: flex;

  width: 93vw;
  height: 40vw;
  margin: 0 auto;

  align-items: center;
  justify-content: space-between;
}
.spetial .card {
  display: flex;
  flex-direction: column;

  width: 17.5vw;
  height: 30vw;

  transition: 0.5s;

  color: #919191;
  background: #E4E2DF;

  align-items: center;
}
.spetial .card h4 {
  margin-top: 1vw;

  transition: 0.5s;
  text-align: center;

  font-size: 1.7vw;
}
.spetial .card img {
  width: 90%;
  height: 90%;
  margin-top: 1vw;
}
.spetial .card:hover {
  display: flex;
  flex-direction: column;

  width: 19vw;
  height: 32vw;
  margin: 1vw;

  background-color: #CAC9C9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  align-items: center;
}
.spetial .card:hover h4 {
  margin-top: 2vw;

  color: #343434;

  font-size: 2.7vw;
  line-height: 2.6vw;
}
a {
  display: none;
}

.footer {
  position: relative;

  display: flex;

  margin-top: -1vw;
  margin-left: 67vw;

  align-items: center;
}
.footer img:first-of-type {
  width: 10vw;
  height: 10vw;
}
.foot {
  margin-left: 1.3vw;

  font-size: 1.5vw;
  line-height: 1.6vw;
}
.foot p + p {
  margin-top: 0.2vw;
}


@media (max-width: 600px) {
  .sBig {
    display: none;
  }
  .s320 {
    display: block;
  }
  .head h2 {
    margin-top: 25vw;
    margin-left: 37vw;

    font-size: 7vw;
  }
  h1 {
    margin-top: 5vw;

    font-size: 19vw;
  }
  .content {
    margin-top: 97vw;
  }
  .content .con {
    width: 76vw;
    margin-left: 5vw;
  }
  h3 {
    font-size: 6vw;
    line-height: 5.6vw;
  }
  .content p {
    width: 80vw;
    margin-top: 8vw;

    font-size: 5vw;
    line-height: 5.9vw;
  }
  .content .scroll {
    position: initial;

    width: auto;
    height: auto;

    margin-top: 27vw;
    margin-left: 9vw;

    background-color: rgba(0, 0, 0, 0);
  }
  .content .card {
    width: 82vw;
    height: 82vw;

    background: rgba(0, 0, 0, 0);
  }
  .content .card h4 {
    font-size: 10vw;
  }
  .content .card p {
    width: 79vw;

    font-size: 5.5vw;

    line-height: 6vw;
  }
  .content .card:nth-of-type(3) {
    margin-top: -14vw;
  }
  .content .card:nth-of-type(4) {
    margin-top: -19vw;
  }
  .content .card:last-child {
    height: 46vw;

    margin-top: -24vw;
  }
  .scroll + h3 {
    display: none;
  }
  .spetial {
    position: relative;

    margin-top: 20vw;

    margin-bottom: 0;
  }
  .spetial h3 {
    margin-left: 5vw;

    font-size: 6.5vw;
    line-height: 6.5vw;
  }
  .in_768 {
    overflow-x: scroll;

    width: 70vw;
    height: 84vw;
    margin: 10vw auto;
  }
  .horizontal {
    width: auto;
    height: auto;
  }
  .spetial .card {
    width: 70vw;
    height: 82vw;

    background-color: rgba(0, 0, 0, 0);
  }
  .spetial .card:not(.wint) {
    display: none;
  }
  .spetial .card h4 {
    color: rgb(52, 53, 55);

    font-size: 8vw;

    line-height: 8vw;
  }
  .spetial .card img {
    width: 52vw;
    margin-top: 5vw;
  }
  .buttun {
    display: block;

    margin: 32px auto 0;
  }
  a {
    position: absolute;

    margin: -9vw 8vw 0;
    padding: 5vw 14vw;

    text-transform: uppercase;

    color: #747373;
    border-radius: 10vw;
    background-color: #C4C4C4;

    font-size: 5.5vw;
  }
  a:hover {
    color: #414040;
  }

  .footer {
    margin-top: 31vw;
    margin-left: 38vw;
  }
  .footer img:first-of-type {
    width: 21vw;
    height: 21vw;
  }
  .foot {
    font-size: 3vw;

    line-height: 1.9vw;
  }
  .foot p + p {
    margin-top: 2vw;
  }
}
